h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 .5em;
}

img {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}