@include global-box-sizing(border-box);

$susy: (
  global-box-sizing: border-box,
  columns: 16,
  gutters: .25,
  gutter-position: inside,
  container-position: center
);

$bps: (
  iphonePortrait: 320px,
  iphoneLandscape: 480px,
  ipadPortrait: 768px,
  ipadLandscape: 1024px,
  netbook: 1200px,
  laptop: 1366px,
  desktop: 1680px
);